div{
    display: inline-block;
    background-color: lightgrey;
    border: solid black 1px;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: yellow;
}