@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: linear-gradient(to right, #042940, #005C53,#9FC131,#DBF227,#D6D58E )
}
main{
    background-color: rgb(74, 8, 41);
    border-radius: 10px;
    box-shadow: 5px, 100px,15px, rgb(21, 19, 19);
    width: 600px;
    padding: 10px;
    margin: auto;
}

p{
    text-align: justify;

}

h1{
    color: chocolate;
}

h2{
    color: #cd0f0f;
}

p{
    color: #9FC131;
}