body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
main{
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px 40PX;
}

article{
    background-color : rgb(204, 193, 193);
    padding: 5px;
}

nav{
    background-color: rgb(66, 63, 63);
    padding: 3px;
    box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.427);
}

nav>a{
    margin-right: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav>a:hover{
    text-decoration: underline;
}
footer{
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;

}

#noticias{
    color: rgb(0, 0, 0);

}
p{
    color: black;
}

aside{
    background-color: rgb(60, 59, 60);
}

div#bola{
    width: 100px;
    height: 100px;
    background-color:aliceblue;
    border-radius: 50%;
}