h1{
    background-color: grey;
    height: 300px;
    width: 300px;
   /* border-width: 10px;
    border-style: solid;
    border-color: darkgreen;*/

    border: 10px solid darkgreen;

    /*padding-top: 10px ;
    padding-right: 10px;
    padding-inline: 10px ;
    padding-left: 10px;*/
    

    padding: 10px ;



    
    /*margin-top: 10px ;
    margin-right: 10px;
    margin-inline: 10px ;
    margin-left: 10px;(SENTIDO RELOGIO)*/
    
    margin: 20px auto 40px auto ;


    /*outline-width: 10px ;
    outline-style: dashed ;
    outline-color: aquamarine;*/

    outline: 10px dashed aquamarine;

    
}

a{

    border-width: 10px;
    border-style: solid;
    border-color:red;

    padding-top: 10px ;
    padding-inline: 10px ;
    padding-left: 10px;
    padding-right: 10px;
}